<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
    <%= form.label :賃料 %>
    <%= form.number_field :rent %><span>円</span>
    <%= form.label :住所 %>
    <%= form.text_field :address %>
    <%= form.label :築年数 %>
    <%= form.number_field :age %><span>年</span>
    <%= form.label :備考 %>
    <%= form.text_area :remarks %>
  </div>
    <p>------------------------------------------------</p>
    <h3>最寄り駅１</h3>
      <div class = "nested_form">
        <%= form.fields_for :nearest_station do |s| %>
        <%= s.label :路線 %>
        <%= s.text_field :route %>
        <%= s.label :駅名 %>
        <%= s.text_field :station %>
        <%= s.label :徒歩でかかる時間 %>
        <%= s.text_field :minutes_walk %><span>分</span>
        <% end %>
      </div>
      <br>
      <h3>最寄り駅２</h3>
      <div class = "nested_form">
        <%= form.fields_for :nearest_station do |s| %>
        <%= s.label :路線 %>
        <%= s.text_field :route %>
        <%= s.label :駅名 %>
        <%= s.text_field :station %>
        <%= s.label :徒歩でかかる時間 %>
        <%= s.text_field :minutes_walk %><span>分</span>
        <% end %>
      </div>
      <div class="actions">
        <%= form.submit value = "登録する"%>
      </div>
<% end %>
