<p id="notice"><%= notice %></p>

<p><strong>物件名:</strong>
  <%= @property.name %></p>
  <p><strong>賃料:</strong>
    <%= @property.rent %></p>
    <p><strong>住所:</strong>
      <%= @property.address %></p>
      <p><strong>築年数:</strong>
        <%= "#{@property.age}年" %></p>
        <p><strong>備考:</strong>
          <%= @property.remarks%>
          <%# 保存したときに配列に格納されているので番号で取り出している %>

          <p><strong>路線1:</strong>
            <%= @nearest_stations[0].route %></p>
            <p><strong>駅名:</strong>
              <%= @nearest_stations[0].station %></p>
              <p><strong>徒歩でかかる時間:</strong>
                <%= @nearest_stations[0].minutes_walk + "分"%></p>

                <p><strong>路線2:</strong>
                  <%= @nearest_stations[1].route %></p>
                  <p><strong>駅名:</strong>
                    <%= @nearest_stations[1].station %></p>
                    <p><strong>徒歩でかかる時間:</strong>
                      <%= @nearest_stations[1].minutes_walk + "分"%></p>

                      <%# この下の行で、引数にインスタンス変数を持たせることでpropertyデータを取り入れている %>
                      <%= link_to '物件情報を再登録', edit_property_path(@property) %> |
                      <%= link_to '戻る', properties_path %>
